# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=tu_jwt_secret_super_seguro
JWT_EXPIRES_IN=604800

# Prisma / Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/mi_db?schema=public"

# Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu_anon_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
